<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">

    <form [formGroup]="orderForm">
      <div class="row">
        <div class="col-xs-12">
          <h2 class="page-header">
            <i class="fa fa-shopping-cart"></i> Finalize o seu pedido
          </h2>
        </div>
      </div>

      <div class="row invoice-info">
        <div class="col-xs-12 col-sm-9">
          <p class="lead">Seus dados:</p>
        </div>
        <div class="col-xs-12 col-sm-3" *ngIf="orderForm.hasError('emailsNotMatch')">
         <span class="help-block pull-right has-error-block">
              <i class="fa fa-remove"></i> E-mails não são iguais
            </span>
        </div>
        <!--Nome-->
        <div class="col-sm-6 col-xs-12">
          <mt-input-container
                  errorMessage="Campo obrigatório e com 5 caracteres."
                  label="Nome">
            <input
                    class="form-control"
                    autocomplete="off"
                    placeholder="Nome"

                    formControlName="name"
            >
          </mt-input-container>
        </div>

        <!--E-mail-->
        <div class="col-sm-3 col-xs-6">
          <mt-input-container
                  errorMessage="E-mail obrigatório."
                  label="E-mail">
            <input
                    class="form-control"
                    autocomplete="off"
                    placeholder="E-mail"

                    formControlName="email"
            >
          </mt-input-container>
        </div>

        <!--Confirmação de E-mail-->
        <div class="col-sm-3 col-xs-6">
          <mt-input-container
                  errorMessage="E-mail obrigatório."
                  label="Confirmação de e-mail">
            <input
                    class="form-control"
                    autocomplete="off"
                    placeholder="Confirmação do e-mail"

                    formControlName="emailConfirmation"
            >
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>

      <div class="row invoice-info">
        <p class="lead">Dados da entrega:</p>
        <!--Endereço-->
        <div class="col-sm-6 col-xs-12">
          <mt-input-container
                  errorMessage="Campo obrigatório e com 5 caracteres."
                  label="Endereço">
            <input
                    class="form-control"
                    autocomplete="off"
                    placeholder="Endereço"

                    formControlName="address"
            >
          </mt-input-container>
        </div>

        <!--Número-->
        <div class="col-sm-3 col-xs-6">
          <mt-input-container
                  errorMessage="Obrigatório e somente números"
                  label="Número">
            <input
                    class="form-control"
                    autocomplete="off"
                    placeholder="Número"

                    formControlName="number"
            >
          </mt-input-container>
        </div>

        <!--Complemento-->
        <div class="col-sm-3 col-xs-6">
          <mt-input-container
                  label="Complemento">
            <input
                    class="form-control"
                    autocomplete="off"

                    formControlName="optionalAddress"
            >
          </mt-input-container>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12">
          <p class="lead">Itens do Pedido:</p>
        </div>
        <mt-order-items
                [items]="cartItems()"
                (increaseQty)="increaseQty($event)"
                (decreaseQty)="decreaseQty($event)"
                (remove)="remove($event)"
        ></mt-order-items>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <!-- accepted payments column -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Formas de Pagamento:</p>

          <div class="form-group">
            <mt-radio-container
                    name="paymentOption"
                    required

                    [options]="paymentOptions"
                    formControlName="paymentOption"></mt-radio-container>
          </div>

        </div>
        <!-- /.col -->
        <div class="col-sm-6 col-xs-12">
          <p class="lead">Frete e Total:</p>
          <mt-delivery-costs
                  [delivery]="delivery"
                  [itemsValue]="itemsValue()"></mt-delivery-costs>
        </div>
        <!-- /.col -->
      </div>

    </form>

    <div class="row">
      <div class="col-xs-12">
        <button type="button" class="btn btn-success pull-right"
                [disabled]="orderForm.invalid || cartItems().length === 0"
                (click)="checkOrder(orderForm.value)"
        ><i class="fa fa-credit-card"></i> Concluir Pedido
        </button>
      </div>
    </div>

  </section>
</section>
<!-- FIM DO CONTEUDO-->