<!-- INíCIO do CONTEÚDO -->
<section class="content-header">
  <h1>
    Todos os Restaurantes
    <span *ngIf="iptSearch.value"><small>{{iptSearch.value}}</small></span>
    <a class="search-link pull-right" (click)="toggleSearch()"><i class="fa fa-search"></i></a>
  </h1>

  <!--barra de busca-->
  <div class="row">
    <div class="col-xs-12 search-bar" [@toggleSearch]="searchBarState">
      <form [formGroup]="searchForm">
        <div class="form-group">
          <input
                  type="text"
                  class="form-control"
                  placeholder="O que você está procurando?"

                  #iptSearch
          formControlName="searchControl">
        </div>
      </form>
    </div>
  </div>
</section>


<section class="content">

  <div class="row">
    <div *ngFor="let restaurant of restaurants" class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
      <mt-restaurant [restaurant]="restaurant"></mt-restaurant>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>

  <div *ngIf="restaurants?.length === 0" class="col-xs-12">
    <p class="lead text-center">
      Não foram encontrados itens para a sua busca.
    </p>
  </div>

</section>

<!-- FIM  do CONTEÚDO -->